.titulo{
    text-align: center;
}

.dimension{
    height: 270px;
    width: 270px;
}

.nombre{
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.precio{
    font-size: 35px;
    padding-left: 10px;
}

.texto{
    padding-left: 10px;
}